Package: ewin
Version: 0.1
Section: main
Priority: optional
Architecture: all
Depends: python-elementary, python-evas, python-ecore, chntpw
Maintainer: Anthony Cervantes
Description: eWin (Windows Registry Manipulation)
 A GUI-frontend for chntpw written in Python-EFLs.
